### Maven

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### IntelliJ

*.iml
.idea

### Maven repository cache for docker-compose.local-test.yml
.m2/

### Cucumber

features/

# local (test) env file
src/test/.env

# Eclipse
.classpath
.editorconfig
.project
.settings
